<a href="https://colab.research.google.com/github/Cassidyevelyn/python_with_data/blob/main/Copy_of_PythonExercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1A. Write a Python program to sum all the items in a list.

In [1]:
def sum_list(items):
    total = 0
    for item in items:
        total += item
    return total

# Example
my_list = [1, 2, 3, 4, 5]
result = sum_list(my_list)
print(f"The sum of the items in the list is: {result}")

The sum of the items in the list is: 15

1B. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [7]:
def count_strings_with_same_first_and_last(strings):
    count = 0
    for s in strings:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
    return count

# Example usage:
my_list = ["level", "ewe", "lol", "wow", "tommy"]
result = count_strings_with_same_first_and_last(my_list)
print(f"The number of strings with the same first and last character is: {result}")

The number of strings with the same first and last character is: 4

1C. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [8]:
def get_last_element(tuple):
    return tuple[-1]

def sort_tuples_by_last_element(tuples):
    return sorted(tuples, key=get_last_element)

# Example
my_tuples = [(1, 5), (3, 2), (6, 8), (2, 3), (5, 1)]
sorted_tuples = sort_tuples_by_last_element(my_tuples)
print("Sorted tuples by last element:", sorted_tuples)

Sorted tuples by last element: [(5, 1), (3, 2), (2, 3), (1, 5), (6, 8)]

2A. Write a Python program to remove duplicates from a list.

In [9]:
def remove_duplicates(input_list):
    return list(set(input_list))

# Example
my_list = [1, 2, 3, 2, 4, 3, 5, 1]
unique_list = remove_duplicates(my_list)
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

2B. Write a Python function that takes two lists and returns True if they have at least one common member.

In [10]:
def have_common_member(list1, list2):
    return any(item in list1 for item in list2)

# Example
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

result = have_common_member(list1, list2)
print(f"Do the lists have at least one common member? {result}")

Do the lists have at least one common member? True

2C. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [11]:
def remove_even_numbers(input_list):
    return [num for num in input_list if num % 2 != 0]

# Example
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
filtered_list = remove_even_numbers(my_list)
print("List after removing even numbers:", filtered_list)

List after removing even numbers: [1, 3, 5, 7, 9]

3A. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [12]:

squares = [x ** 2 for x in range(1, 31)]


first_5 = squares[:5]
last_5 = squares[-5:]


result_list = first_5 + last_5


print("First and last 5 elements of squares list:")
print(result_list)

First and last 5 elements of squares list:
[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

3B. Write a Python program to get the difference between the two lists.

In [13]:
def list_difference(list1, list2):
    return list(set(list1) - set(list2))

# Example
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

difference = list_difference(list1, list2)
print("The difference between list1 and list2 is:", difference)

The difference between list1 and list2 is: [1, 2, 3]

3C. Write a Python program to convert a list of characters into a string.

In [15]:
def list_to_string(char_list):
    return ''.join(char_list)

# Example
char_list = ['T', 'o', 'm', 'm', 'y']

result_string = list_to_string(char_list)
print("Resultant string:", result_string)

Resultant string: Tommy

4A. Write a Python program to select an item randomly from a list.

In [16]:
import random

def random_choice(input_list):
    return random.choice(input_list)


my_list = [1, 2, 3, 4, 5]

random_item = random_choice(my_list)
print("Randomly selected item:", random_item)

Randomly selected item: 3

4B.Write a Python program to find the second largest number in a list.

In [17]:
def second_largest(numbers):
    if len(numbers) < 2:
        return "List should have at least two elements"

    largest = float('-inf')
    second_largest = float('-inf')

    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num

    return second_largest

# Example
my_list = [12, 34, 45, 55, 66, 67, 88, 99]

second_largest_number = second_largest(my_list)
print("The second largest number is:", second_largest_number)

The second largest number is: 88

5A. Write a Python program to count the number of elements in a list within a specified range.

In [18]:
def count_elements_in_range(input_list, lower_bound, upper_bound):
    count = 0
    for element in input_list:
        if lower_bound <= element <= upper_bound:
            count += 1
    return count

# Example
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90]
lower_bound = 30
upper_bound = 70

count = count_elements_in_range(my_list, lower_bound, upper_bound)
print(f"Number of elements between {lower_bound} and {upper_bound}: {count}")

Number of elements between 30 and 70: 5

5B. Write a Python program to split a list into different variables.

In [19]:

my_list = [1, 2, 3, 4, 5]


var1, var2, var3, var4, var5 = my_list


print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)

var1: 1
var2: 2
var3: 3
var4: 4
var5: 5

6A. Merge the following dictionaries into one

In [20]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}


dict1.update(dict2)


merged_dict = dict1


print("Merged dictionary:")
print(merged_dict)

Merged dictionary:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

6B. Delete the set of keys from the following python dictionary

In [21]:
sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}


keysToRemove = ["name", "salary"]

for key in keysToRemove:
    if key in sampleDict:
        del sampleDict[key]


print("Modified dictionary:")
print(sampleDict)

Modified dictionary:
{'age': 25, 'city': 'New york'}