<a href="https://colab.research.google.com/github/Cassidyevelyn/python_with_data/blob/main/Copy_of_Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [ ]:
import pandas as pd
from google.colab import files
!rm *.*

uploaded = files.upload()
df = pd.read_excel("public_use-talent-migration.xlsx", sheet_name = "Industry Migration")

print(df.head(10))

Saving public_use-talent-migration.xlsx to public_use-talent-migration.xlsx
  country_code          country_name    wb_income                   wb_region  \
0           ae  United Arab Emirates  High income  Middle East & North Africa
1           ae  United Arab Emirates  High income  Middle East & North Africa
2           ae  United Arab Emirates  High income  Middle East & North Africa
3           ae  United Arab Emirates  High income  Middle East & North Africa
4           ae  United Arab Emirates  High income  Middle East & North Africa
5           ae  United Arab Emirates  High income  Middle East & North Africa
6           ae  United Arab Emirates  High income  Middle East & North Africa
7           ae  United Arab Emirates  High income  Middle East & North Africa
8           ae  United Arab Emirates  High income  Middle East & North Africa
9           ae  United Arab Emirates  High income  Middle East & North Africa

  isic_section_index                                 isic_section_name  \
0                  C                                     Manufacturing
1                  J                     Information and communication
2                  J                     Information and communication
3                  J                     Information and communication
4                  J                     Information and communication
5                  J                     Information and communication
6                  M  Professional scientific and technical activities
7                  M  Professional scientific and technical activities
8                  M  Professional scientific and technical activities
9                  M  Professional scientific and technical activities

   industry_id          industry_name  net_per_10K_2015  net_per_10K_2016  \
0            1        Defense & Space            378.74            127.94
1            3      Computer Hardware            100.97            358.14
2            4      Computer Software           1079.36            848.15
3            5    Computer Networking            401.46            447.39
4            6               Internet           1840.33           1368.42
5            8     Telecommunications            676.91            676.11
6            9           Law Practice            694.50            529.50
7           10         Legal Services            661.10            665.65
8           11  Management Consulting            982.85            694.25
9           12          Biotechnology           1230.17            846.28

   net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0              8.20             68.51             49.55
1            112.98            149.57            182.22
2            596.48            409.18            407.41
3            163.99            236.69            188.07
4            877.71            852.39            519.40
5            365.96            283.59            281.91
6            362.83            356.56            147.83
7            462.30            475.62            255.21
8            520.28            574.60            406.03
9            500.77            205.78            513.23

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [ ]:
import pandas as pd

df[['country_name', 'industry_name']].head(51)

            country_name              industry_name
0   United Arab Emirates            Defense & Space
1   United Arab Emirates          Computer Hardware
2   United Arab Emirates          Computer Software
3   United Arab Emirates        Computer Networking
4   United Arab Emirates                   Internet
5   United Arab Emirates         Telecommunications
6   United Arab Emirates               Law Practice
7   United Arab Emirates             Legal Services
8   United Arab Emirates      Management Consulting
9   United Arab Emirates              Biotechnology
10  United Arab Emirates           Medical Practice
11  United Arab Emirates     Hospital & Health Care
12  United Arab Emirates            Pharmaceuticals
13  United Arab Emirates             Medical Device
14  United Arab Emirates                  Cosmetics
15  United Arab Emirates          Apparel & Fashion
16  United Arab Emirates             Sporting Goods
17  United Arab Emirates                    Tobacco
18  United Arab Emirates               Supermarkets
19  United Arab Emirates            Food Production
20  United Arab Emirates       Consumer Electronics
21  United Arab Emirates             Consumer Goods
22  United Arab Emirates                  Furniture
23  United Arab Emirates                     Retail
24  United Arab Emirates              Entertainment
25  United Arab Emirates  Leisure, Travel & Tourism
26  United Arab Emirates                Hospitality
27  United Arab Emirates                Restaurants
28  United Arab Emirates                     Sports
29  United Arab Emirates           Food & Beverages
30  United Arab Emirates     Motion Pictures & Film
31  United Arab Emirates            Broadcast Media
32  United Arab Emirates                    Banking
33  United Arab Emirates                  Insurance
34  United Arab Emirates         Financial Services
35  United Arab Emirates                Real Estate
36  United Arab Emirates         Investment Banking
37  United Arab Emirates      Investment Management
38  United Arab Emirates                 Accounting
39  United Arab Emirates               Construction
40  United Arab Emirates         Building Materials
41  United Arab Emirates    Architecture & Planning
42  United Arab Emirates          Civil Engineering
43  United Arab Emirates       Aviation & Aerospace
44  United Arab Emirates                 Automotive
45  United Arab Emirates                  Chemicals
46  United Arab Emirates                  Machinery
47  United Arab Emirates            Mining & Metals
48  United Arab Emirates               Oil & Energy
49  United Arab Emirates               Shipbuilding
50  United Arab Emirates                  Utilities

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [ ]:
import pandas as pd


middle_records = df[['country_name', 'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019']]


middle_20_records = middle_records.iloc[len(df)//2 - 10 : len(df)//2 + 10]


print(middle_20_records)

     country_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  \
2637        India             -7.57            -15.53            -41.39
2638        India            -46.07            -84.82            -69.27
2639        India            -17.75             -9.88            -13.85
2640        India            -46.50            -53.41            -38.84
2641        India             15.19              5.91            -67.67
2642        India            -36.77            -72.50           -224.30
2643        India            -57.53            -50.04            -58.67
2644        India              4.31            -29.11            -68.60
2645        India            -60.63           -102.39           -130.02
2646        India            -26.63              5.22            -29.57
2647        India            -31.78            -45.04            -86.56
2648        India             24.01             27.84             -9.85
2649        India            -17.74            -27.67            -19.57
2650        India            -26.23            -21.12            -26.23
2651        India            -75.42            -71.15            -57.01
2652        India            -40.41             -2.47            -40.18
2653         Iraq            290.14            396.01            175.95
2654         Iraq             23.68           -148.03           -157.05
2655         Iraq           -138.81           -662.75           -273.35
2656         Iraq           -718.56           -623.25           -446.93

      net_per_10K_2018  net_per_10K_2019
2637            -58.19            -75.65
2638           -112.88           -102.83
2639            -17.02            -36.78
2640            -69.76            -73.81
2641            -42.27            -45.82
2642           -108.44            -57.46
2643            -98.15            -87.12
2644            -60.27            -71.01
2645            -97.02           -151.55
2646            -23.96            -58.40
2647            -66.87            -95.41
2648            -29.43            -63.83
2649            -63.91            -50.87
2650            -40.06            -55.07
2651            -95.02           -106.56
2652            -70.58           -142.21
2653            396.23            318.73
2654            -87.85            -38.84
2655           -109.23              0.00
2656           -456.94             95.72

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [ ]:
import pandas as pd

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Country Migration')

selected_columns = ['target_country_name', 'base_country_name', 'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019']
first_10_records = data[selected_columns].head(10)


print(first_10_records)

  target_country_name     base_country_name  net_per_10K_2015  \
0         Afghanistan  United Arab Emirates              0.19
1             Algeria  United Arab Emirates              0.19
2              Angola  United Arab Emirates             -0.01
3           Argentina  United Arab Emirates              0.16
4             Armenia  United Arab Emirates              0.10
5           Australia  United Arab Emirates             -1.06
6             Austria  United Arab Emirates              0.11
7          Azerbaijan  United Arab Emirates              0.24
8             Bahrain  United Arab Emirates              0.90
9          Bangladesh  United Arab Emirates             -0.21

   net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0              0.16              0.11             -0.05             -0.02
1              0.25              0.57              0.55              0.78
2              0.04              0.11             -0.02             -0.06
3              0.18              0.04              0.01              0.23
4              0.05              0.03             -0.01              0.02
5             -3.31             -4.01             -4.58             -4.09
6             -0.08             -0.07             -0.05             -0.16
7              0.25              0.10              0.05              0.04
8              0.89              0.38             -0.07              0.15
9             -0.21             -0.26             -0.18             -0.04

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

In [ ]:
import pandas as pd

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Country Migration')

unique_base_countries = data['base_country_name'].unique()

for country in unique_base_countries:
    print(country)

United Arab Emirates
Afghanistan
Albania
Armenia
Angola
Argentina
Austria
Australia
Azerbaijan
Bosnia and Herzegovina
Bangladesh
Belgium
Burkina Faso
Bulgaria
Bahrain
Benin
Bolivia
Brazil
Bahamas, The
Botswana
Belarus
Canada
Congo, Dem. Rep.
Switzerland
Cote d'Ivoire
Chile
Cameroon
China
Colombia
Costa Rica
Cuba
Cyprus
Czech Republic
Germany
Denmark
Dominican Republic
Algeria
Ecuador
Estonia
Egypt, Arab Rep.
Spain
Ethiopia
Finland
Fiji
France
Gabon
United Kingdom
Georgia
Ghana
Greece
Guatemala
Hong Kong SAR, China
Honduras
Croatia
Haiti
Hungary
Indonesia
Ireland
Israel
India
Iraq
Iran, Islamic Rep.
Iceland
Italy
Jamaica
Jordan
Japan
Kenya
Cambodia
Korea, Rep.
Kuwait
Kazakhstan
Lebanon
Sri Lanka
Lithuania
Luxembourg
Latvia
Libya
Morocco
Moldova
Madagascar
Macedonia, FYR
Mali
Myanmar
Mongolia
Malta
Mauritius
Malawi
Mexico
Malaysia
Mozambique
Namibia
Nigeria
Nicaragua
Netherlands
Norway
Nepal
New Zealand
Oman
Panama
Peru
Papua New Guinea
Philippines
Pakistan
Poland
Puerto Rico
West Bank and Gaza
Portugal
Paraguay
Qatar
Romania
Serbia
Rwanda
Saudi Arabia
Sudan
Sweden
Singapore
Slovenia
Slovak Republic
Senegal
El Salvador
Syrian Arab Republic
Togo
Thailand
Tunisia
Turkey
Trinidad and Tobago
Taiwan, China
Tanzania
Ukraine
Uganda
United States
Uruguay
Uzbekistan
Venezuela, RB
Vietnam
Yemen, Rep.
South Africa
Zambia
Zimbabwe

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

In [ ]:
import pandas as pd

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Country Migration')

unique_target_countries = data['target_country_name'].unique()

num_unique_target_countries = len(unique_target_countries)
print("Number of unique target countries:", num_unique_target_countries)

Number of unique target countries: 140

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 rows, skill group names and net migration in 2019 only

In [ ]:
import pandas as pd

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Skill Migration')

print("First record:")
print(data.iloc[0])

print("\nLast 10 records:")
print(data.tail(10))

print("\nRecords from index 500 to index 600:")
print(data.iloc[500:601])

unique_countries_count = len(data['country_name'].unique())
print(f"\nCount of unique countries: {unique_countries_count}")

unique_skill_groups = data['skill_group_category'].unique()
print("\nUnique skill group categories:")
for skill_group in unique_skill_groups:
    print(skill_group)

print("\nFirst 50 rows, skill group names and net migration in 2019:")
print(data.head(50)[['skill_group_category', 'net_per_10K_2019']])

First record:
country_code                                af
country_name                       Afghanistan
wb_income                           Low income
wb_region                           South Asia
skill_group_id                            2549
skill_group_category               Tech Skills
skill_group_name        Information Management
net_per_10K_2015                       -791.59
net_per_10K_2016                       -705.88
net_per_10K_2017                       -550.04
net_per_10K_2018                       -680.92
net_per_10K_2019                      -1208.79
Name: 0, dtype: object

Last 10 records:
      country_code country_name   wb_income            wb_region  \
17607           zw     Zimbabwe  Low income  Sub-Saharan Africa
17608           zw     Zimbabwe  Low income  Sub-Saharan Africa
17609           zw     Zimbabwe  Low income  Sub-Saharan Africa
17610           zw     Zimbabwe  Low income  Sub-Saharan Africa
17611           zw     Zimbabwe  Low income  Sub-Saharan Africa
17612           zw     Zimbabwe  Low income  Sub-Saharan Africa
17613           zw     Zimbabwe  Low income  Sub-Saharan Africa
17614           zw     Zimbabwe  Low income  Sub-Saharan Africa
17615           zw     Zimbabwe  Low income  Sub-Saharan Africa
17616           zw     Zimbabwe  Low income  Sub-Saharan Africa

       skill_group_id         skill_group_category         skill_group_name  \
17607            5587  Specialized Industry Skills            Earth Science
17608            1838  Specialized Industry Skills                Utilities
17609            3104  Specialized Industry Skills        International Law
17610            1530  Specialized Industry Skills         Higher Education
17611           25045  Specialized Industry Skills  Agricultural Production
17612           12666  Specialized Industry Skills                 Teaching
17613            1235  Specialized Industry Skills                   Mining
17614           43756  Specialized Industry Skills        Personal Coaching
17615            1724  Specialized Industry Skills            Public Health
17616             172  Specialized Industry Skills                      Law

       net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  \
17607              7.00             -5.61            -48.68            -71.76
17608           -157.50           -170.89            -81.63           -139.70
17609            -98.23            -72.38            -94.81           -128.64
17610             54.17             -3.69            -18.88             11.91
17611           -127.75            -56.95              5.54            -42.07
17612             71.18             30.68            -18.85            -68.89
17613              8.97           -112.85            -35.87            -65.38
17614            -53.45            -59.70            -88.01            -55.90
17615             15.25            -65.53            -57.22            -39.39
17616             40.85             47.16            -31.24             -8.24

       net_per_10K_2019
17607           -111.85
17608           -110.54
17609           -105.16
17610            -96.81
17611            -95.85
17612            -93.70
17613            -93.46
17614            -82.23
17615            -32.14
17616            -25.52

Records from index 500 to index 600:
    country_code country_name    wb_income                   wb_region  \
500           ar    Argentina  High income  Latin America & Caribbean
501           ar    Argentina  High income  Latin America & Caribbean
502           ar    Argentina  High income  Latin America & Caribbean
503           ar    Argentina  High income  Latin America & Caribbean
504           ar    Argentina  High income  Latin America & Caribbean
..           ...          ...          ...                         ...
596           au    Australia  High income         East Asia & Pacific
597           au    Australia  High income         East Asia & Pacific
598           au    Australia  High income         East Asia & Pacific
599           au    Australia  High income         East Asia & Pacific
600           au    Australia  High income         East Asia & Pacific

     skill_group_id         skill_group_category     skill_group_name  \
500           26209                  Tech Skills     Digital Literacy
501           12666  Specialized Industry Skills             Teaching
502           42956  Specialized Industry Skills  Delivery Operations
503            2269              Business Skills   Project Management
504            2597              Business Skills  Business Management
..              ...                          ...                  ...
596            4382              Business Skills      Debt Collection
597            1235  Specialized Industry Skills               Mining
598           43756  Specialized Industry Skills    Personal Coaching
599            1275  Specialized Industry Skills  Property Management
600           11891  Specialized Industry Skills    Religious Studies

     net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  \
500             -8.46              1.60             38.82             57.56
501            -14.33            -26.96              9.16             13.86
502            -44.05            -43.48              2.46            -67.62
503            -34.32             38.07             94.94            135.19
504            -15.28             10.38             54.07             70.10
..                ...               ...               ...               ...
596              6.71              2.17             45.03              7.91
597            -63.59            -32.71             10.68             14.54
598              4.36             23.71             37.86             31.71
599             -5.45             13.10             12.72             19.49
600              2.88             36.42             19.74              6.16

     net_per_10K_2019
500            -53.18
501            -52.78
502            -50.99
503            -50.02
504            -49.83
..                ...
596             22.41
597             23.75
598             25.18
599             25.82
600             26.79

[101 rows x 12 columns]

Count of unique countries: 140

Unique skill group categories:
Tech Skills
Business Skills
Specialized Industry Skills
Disruptive Tech Skills
Soft Skills

First 50 rows, skill group names and net migration in 2019:
           skill_group_category  net_per_10K_2019
0                   Tech Skills          -1208.79
1               Business Skills           -790.09
2   Specialized Industry Skills           -767.64
3                   Tech Skills           -739.51
4   Specialized Industry Skills           -718.64
5        Disruptive Tech Skills           -717.73
6   Specialized Industry Skills           -698.84
7                   Soft Skills           -696.16
8                   Tech Skills           -692.24
9   Specialized Industry Skills           -640.96
10                  Tech Skills           -625.19
11  Specialized Industry Skills           -560.86
12  Specialized Industry Skills           -553.91
13  Specialized Industry Skills           -534.90
14  Specialized Industry Skills           -531.68
15              Business Skills           -489.62
16              Business Skills           -481.75
17              Business Skills           -481.00
18  Specialized Industry Skills           -470.25
19              Business Skills           -465.04
20       Disruptive Tech Skills           -459.57
21  Specialized Industry Skills           -456.65
22  Specialized Industry Skills           -455.72
23              Business Skills           -454.04
24  Specialized Industry Skills           -444.72
25  Specialized Industry Skills           -442.94
26  Specialized Industry Skills           -432.87
27                  Soft Skills           -429.40
28              Business Skills           -417.59
29              Business Skills           -415.60
30  Specialized Industry Skills           -409.63
31              Business Skills           -407.53
32              Business Skills           -406.50
33                  Tech Skills           -405.87
34                  Tech Skills           -402.25
35                  Tech Skills           -401.17
36  Specialized Industry Skills           -400.00
37              Business Skills           -381.75
38  Specialized Industry Skills           -380.71
39  Specialized Industry Skills           -379.37
40              Business Skills           -375.82
41                  Tech Skills           -375.25
42              Business Skills           -369.78
43  Specialized Industry Skills           -369.71
44              Business Skills           -364.60
45  Specialized Industry Skills           -356.44
46              Business Skills           -353.67
47  Specialized Industry Skills           -347.71
48  Specialized Industry Skills           -339.42
49  Specialized Industry Skills           -332.85

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

In [ ]:
import pandas as pd

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Country Migration')

record_10 = data.iloc[10]
print("Record at position 10:")
print(record_10)


net_migration_2015 = record_10['net_per_10K_2015']
net_migration_2016 = record_10['net_per_10K_2016']
net_migration_2017 = record_10['net_per_10K_2017']
net_migration_2018 = record_10['net_per_10K_2018']
net_migration_2019 = record_10['net_per_10K_2019']

total_net_migration = net_migration_2015 + net_migration_2016 + net_migration_2017 + net_migration_2018 + net_migration_2019

print(f"\nTotal net migration over 5 years (2015 to 2019): {total_net_migration}")

Record at position 10:
base_country_code                                   ae
base_country_name                 United Arab Emirates
base_lat                                     23.424076
base_long                                    53.847818
base_country_wb_income                     High Income
base_country_wb_region      Middle East & North Africa
target_country_code                                 by
target_country_name                            Belarus
target_lat                                   53.709807
target_long                                  27.953389
target_country_wb_income           Upper Middle Income
target_country_wb_region         Europe & Central Asia
net_per_10K_2015                                  0.12
net_per_10K_2016                                  0.12
net_per_10K_2017                                  0.11
net_per_10K_2018                                  0.12
net_per_10K_2019                                   0.1
Name: 10, dtype: object

Total net migration over 5 years (2015 to 2019): 0.57

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

In [ ]:
import pandas as pd

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Industry Migration')

record_100 = data.iloc[100]
print("Record at position 100:")
print(record_100)

net_migration_2015 = record_100['net_per_10K_2015']
net_migration_2016 = record_100['net_per_10K_2016']
net_migration_2017 = record_100['net_per_10K_2017']
net_migration_2018 = record_100['net_per_10K_2018']
net_migration_2019 = record_100['net_per_10K_2019']

total_net_migration = net_migration_2015 + net_migration_2016 + net_migration_2017 + net_migration_2018 + net_migration_2019

industry_name = record_100['industry_name']

print(f"\nThe total net migration into country of skilled workers for the industry name {industry_name}, "
      f"during the years 2015-2019 was {total_net_migration}.")

Record at position 100:
country_code                                          ae
country_name                        United Arab Emirates
wb_income                                    High income
wb_region                     Middle East & North Africa
isic_section_index                                     K
isic_section_name     Financial and insurance activities
industry_id                                          129
industry_name                            Capital Markets
net_per_10K_2015                                 1345.11
net_per_10K_2016                                  483.35
net_per_10K_2017                                  606.94
net_per_10K_2018                                  735.88
net_per_10K_2019                                  240.44
Name: 100, dtype: object

The total net migration into country of skilled workers for the industry name Capital Markets, during the years 2015-2019 was 3411.7200000000003.

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*

In [ ]:
import pandas as pd


url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
data = pd.read_excel(url, sheet_name='Industry Migration')


for i in range(1, 6):
    record = data.iloc[i]


    net_migration_2015 = record['net_per_10K_2015']
    net_migration_2016 = record['net_per_10K_2016']
    net_migration_2017 = record['net_per_10K_2017']
    net_migration_2018 = record['net_per_10K_2018']
    net_migration_2019 = record['net_per_10K_2019']

    total_net_migration = round(net_migration_2015 + net_migration_2016 + net_migration_2017 + net_migration_2018 + net_migration_2019, 1)

    industry_name = record['industry_name']


    print(f"The total net migration into country of skilled workers for the industry name {industry_name}, "
          f"during the years 2015-2019 was {total_net_migration}.")

The total net migration into country of skilled workers for the industry name Computer Hardware, during the years 2015-2019 was 903.9.
The total net migration into country of skilled workers for the industry name Computer Software, during the years 2015-2019 was 3340.6.
The total net migration into country of skilled workers for the industry name Computer Networking, during the years 2015-2019 was 1437.6.
The total net migration into country of skilled workers for the industry name Internet, during the years 2015-2019 was 5458.2.
The total net migration into country of skilled workers for the industry name Telecommunications, during the years 2015-2019 was 2284.5.